// @include font-face("Font name", font-file-in-fonts-without-extensions)

@font-face
    font-family: "Apotek"
    src: url('/assets/fonts/ApotekComp_Bold.otf') format('opentype')

@font-face
    font-family: "Acumin"
    src: url('/assets/fonts/Acumin.otf') format('opentype')

@font-face
    font-family: "Inter"
    src: url('/assets/fonts/Inter.ttf')