//Images on Hero
.hero
    margin-bottom: $spacing2

    &--with-image
        @include media-breakpoint-up(desktop)
            .content 
                figure
                    margin: -4rem
                    min-height: calc( 650px - 4rem )
                    width: calc( 100% / 12 * 5 - 2rem )

                img
                    min-height: calc( 650px - 4rem )
                    object-fit: cover
