//homepage
.accueil 
    .hero
        &--with-image
            .content figure
                position: absolute
                z-index: 0
                width: 100%
                height: 100%
                bottom: 0
                left: 0
                margin: 0
                overflow: hidden

                img
                    filter: brightness(85%)
                    position: absolute
                    bottom: 0
            
            .content h1
                z-index: 42

            @include media-breakpoint-up(lg)
                .content figure
                    max-height: 500px
                    img
                        transform: scale(1)
            
            @include media-breakpoint-down(lg)
                .content figure                    
                    img
                        transform: scale(1)
                
                .content h1
                    margin: 0
                    position: relative

                @include media-breakpoint-down(sm)
                    .content figure img
                        transform: scale(2.53)

body.full-width
    .block-call_to_action .block-content
        padding: 0

        .call_to_action
            color: $color-text
            background: rgb(242,238,52)

            div:first-child
                padding: 4rem

                .actions a:first-child
                    background: $color-text-contrast
                    border: 2px solid $color-text-contrast
                    font-size: 1.5rem

                    &:hover
                        background: rgb(242,238,52)
                        color: $color-text
                        box-sizing: border-box
                    &:active, &:focus
                        color: $color-text
                        background-color: #eeeeee
            
            picture
                line-height: 50%
    
    @include media-breakpoint-down(lg)
        .block-call_to_action .container
            padding: 0
            
            .call_to_action--with-image
                padding-top: 0

                div:first-child
                    padding: 0rem 2rem

                    .block-title
                        font-size: 2rem
                        padding-bottom: 1rem
                    
                    .actions
                        margin-top: 0
                        a
                            font-size: 1.5rem
                            width: 100%
                            text-align: center
            
            