

@import "_hero"
@import "_header"
@import "_footer"
@import "_homepage"

.lead
    font-size: 3rem

.block
    margin-top: 2rem
    margin-bottom: 1rem

body.full-width 
    .heading:not(:first-child)
        margin-top: 4rem