//Images on Hero

.hero--with-image
    @include media-breakpoint-up(desktop)
        .content figure
            margin: -4rem
            min-height: calc( 500px - 4rem )

            img
                min-height: calc( 500px - 4rem )
                object-fit: cover